@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Initial state - scrollbar hidden for all elements */
*::-webkit-scrollbar {
  width: 0;
}

/* Hover state - show scrollbar for all elements */
*:hover::-webkit-scrollbar {
  width: 5px;
}

/* Track for all elements */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle for all elements */
*::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover for all elements */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
